In [ ]:
import pandas as pd

In [ ]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv.csv"
student_data_to_load = "Resources/students_complete.csv.csv"

In [ ]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

In [ ]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

In [ ]:
# Determine if there are any missing values in the school data.
school_data_df.count()

In [ ]:
# Determine if there are any missing values in the student data.
student_data_df.count()

In [ ]:
# Determine if there are any missing values in the school data.
school_data_df.isnull()

In [ ]:
student_data_df.isnull()

In [ ]:
student_data_df.isnull().sum()

In [ ]:
school_data_df.notnull()

In [ ]:
student_data_df.notnull()

In [ ]:
student_data_df.notnull().sum()

In [ ]:
# Determine data types for the school DataFrame.
school_data_df.dtypes

In [ ]:
#df.column.dtype
school_data_df.budget.dtype

In [ ]:
student_data_df.dtypes

In [ ]:
student_data_df.grade.dtype

In [ ]:
#df["column"].dtype
student_data_df["Student ID"].dtype

In [ ]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [ ]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [ ]:
 student_data_df

In [ ]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

In [ ]:
# Get the total number of students.
student_count = school_data_complete_df.count()
student_count

In [ ]:
student_count = school_data_complete_df["Student ID"].count()
student_count

In [ ]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

In [ ]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

In [ ]:
 school_data_complete_df["school_name"].unique().value_counts()

In [ ]:
len(school_data_complete_df["school_name"].unique())

In [ ]:
# Calculate the total budget.
total_budget = school_data_complete_df['budget'].sum()
total_budget

In [ ]:
# Calculate the total budget.
total_budget = school_data_df["budget"].sum()
total_budget

In [ ]:
#Find average reading score.
average_reading_score = school_data_complete_df['reading_score'].mean()
average_reading_score

In [ ]:
#Find average math score.
average_math_score = school_data_complete_df['math_score'].mean()
average_math_score

In [ ]:
# Find passing score (>=70)
passing_math = school_data_complete_df['math_score']>=70
passing_reading = school_data_complete_df['reading_score']>=70

In [ ]:
passing_math

In [ ]:
# Get all the students who are passing math in a new DataFrame.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math

In [ ]:
passing_reading = school_data_complete_df[school_data_complete_df['reading_score'] >=70]
passing_reading

In [ ]:
# Calculate the number of students passing math.
passing_math_count = passing_math['student_name'].count()

In [ ]:
# Calculate the number of students passing reading.
passing_reading_count = passing_reading['student_name'].count()

In [ ]:
print(passing_math_count)
print(passing_reading_count)

In [ ]:
# Calculate the percent that passed math.
passing_math_percentage = passing_math_count/float(student_count)*100
passing_math_percentage

In [ ]:
# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count/float(student_count)*100

In [ ]:
print(passing_math_percentage)
print(passing_reading_percentage)

In [ ]:
# Calculate the students who passed both math and reading.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading

In [ ]:
# Calculate the number of students who passed both math and reading.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

In [ ]:
overall_passing_math_reading_percentage = overall_passing_math_reading_count/float(student_count)*100
overall_passing_math_reading_percentage

In [99]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_math_reading_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [100]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [101]:
# Format the "Total Budget" to have the comma for a thousands separator.
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("{:,.2f}".format)

district_summary_df["Total Budget"]

0    24,649,428.00
Name: Total Budget, dtype: object

In [103]:
# Format the "Average math score" to have the comma for a thousands separator.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.1f}".format)

district_summary_df["Average Math Score"]

0    79.0
Name: Average Math Score, dtype: object

In [104]:
# Format the "Average reading score" to have the comma for a thousands separator.
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.1f}".format)

district_summary_df["Average Reading Score"]

0    81.9
Name: Average Reading Score, dtype: object

In [105]:
# Format the "% passing math" to have the comma for a thousands separator.
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.0f}".format)

district_summary_df["% Passing Math"]

0    75
Name: % Passing Math, dtype: object

In [106]:
# Format the "% passing reading " to have the comma for a thousands separator.
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.0f}".format)

district_summary_df["% Passing Reading"]

0    86
Name: % Passing Reading, dtype: object

In [107]:
# Format the % Overall Passing" to have the comma for a thousands separator.
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:,.0f}".format)

district_summary_df["% Overall Passing"]

0    65
Name: % Overall Passing, dtype: object

In [108]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",79.0,81.9,75,86,65

In [109]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",79.0,81.9,75,86,65